.btn.btn-skip {
    width: 100%;
    height: 38px;
    margin: 0px auto;
    padding: 6px;
    border-radius: 5px;
    color: #3A82FF;
    background-color: transparent;
    border: 1px solid #3A82FF;
}

.btn.btn-skip:active {
    filter: brightness(85%);
    border: 1px solid #3A82FF;
}

.btn.btn-skip:hover {
    background-color: #3A82FF;
    color: white;
}

#hover-image {
    filter: drop-shadow(black 0rem 0rem 5px);
}

#hover-image:not([src]),
#hover-image[src=""] {
    border: none; /* Removes any default or applied border */
    outline: none; /* Removes any default outline, often seen on linked images */
    visibility: hidden; /* Makes the element invisible while retaining its space */
}

.column {
    text-align: justify;
    text-justify: inter-character;
}

figcaption {
    background-color: #FAFAFA;
    border-radius: 5px;
    margin: 5px auto;
    width: 70%
}
